@font-face {
  font-family: "PixelMplus10-Bold";
  src: url("../fonts/PixelMplus10-Bold.ttf");
}
@font-face {
  font-family: "PixelMplus10-Regular";
  src: url("../fonts/PixelMplus10-Regular.ttf");
}
@font-face {
  font-family: "PixelMplus12-Bold";
  src: url("../fonts/PixelMplus12-Bold.ttf");
}
@font-face {
  font-family: "PixelMplus12-Regular";
  src: url("../fonts/PixelMplus12-Regular.ttf");
}
